# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Pipenv
Pipfile.lock

# Virtualenv
env/
venv/
ENV/
.venv/
.python-version

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment
.env
.env.*

# VSCode / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
*.pid
