[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohappyeyeballs = "*"
aiohttp = "*"
aiosignal = "*"
annotated-types = "*"
anyio = "*"
asgiref = "*"
attrs = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
dataclasses-json = "*"
distro = "*"
django = "*"
django-environ = "*"
djangorestframework = "*"
drf-yasg = "*"
frozenlist = "*"
greenlet = "*"
groq = "*"
h11 = "*"
httpcore = "*"
httpx = "*"
httpx-sse = "*"
idna = "*"
inflection = "*"
jsonpatch = "*"
jsonpointer = "*"
jsonschema-pydantic = "*"
langchain-community = "*"
langchain-core = "*"
langchain-groq = "*"
langchain-text-splitters = "*"
langsmith = "*"
marshmallow = "*"
mcp = "*"
multidict = "*"
mypy-extensions = "*"
numpy = "*"
orjson = "*"
packaging = "*"
propcache = "*"
psycopg2-binary = "*"
pydantic = "*"
pydantic-core = "*"
pydantic-settings = "*"
python-dotenv = "*"
python-multipart = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
requests-toolbelt = "*"
sniffio = "*"
sqlalchemy = "*"
sqlparse = "*"
sse-starlette = "*"
starlette = "*"
tenacity = "*"
typing-extensions = "*"
typing-inspect = "*"
typing-inspection = "*"
tzdata = "*"
uritemplate = "*"
urllib3 = "*"
uvicorn = "*"
websockets = "*"
yarl = "*"
zstandard = "*"
langchain = "*"
mcp-use = "*"
langchain-mcp-adapters = "*"
langgraph = "*"
fastembed = "*"
nest-asyncio = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
